body {
	padding: 1em;
	font-size: 15px;
	color: orange;
	background-color: grey;
}

h4 {
	color: #f0a500;
}

.form-container {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.form-1 {
	display: flex;
	justify-content: space-between;
}
